a {
    text-decoration: none;
}

.error {
    color: red;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    width: 90px;
}

td {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}

td:hover {
    background-color: darkgray;
}